@tailwind components;
@tailwind utilities;
*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}
a {
  color: inherit;
  text-decoration: inherit;
}